<section class="about-index">
  <header class="page-header">
  <h1>About Us</h1>
    <div class="about">
    <br>
      <p>
      Welcome to our tropical plant store! We are a team of passionate horticulturists and garden enthusiasts who have a love for all things tropical. Our goal is to bring the beauty and lushness of the tropics to homes and gardens all over the country.
      </p>
      <p>
      We pride ourselves on the quality of our plants and our commitment to customer service. Our team is always happy to help with any questions you may have, and we are committed to ensuring that every plant we sell is healthy and ready to thrive in its new home.
      </p>
      <p>
      Thank you for choosing our tropical plant store. We can't wait to help you bring a touch of the tropics to your home or garden!
      </p>

      </div>
  </header>
</section>